{% extends "tour_app/base.html" %}
{% load static %}
{% block title %}
    About us
{% endblock %}

{% block description %}
    <!-- change the image in style.css to the class .number .container-fluid [approximately row 102] -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-16 opaline col-md-offset-0">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <h3>Our Vision</h3>
                            <h5>To connect people to life-enriching travel experiences.</h5>
                            <p>Travis and Shawn witnessed this first-hand when they began going on tours. They saw the
                                power that travel has to bring people together from varying backgrounds, cultures,
                                countries and religions, and sought to give people across the globe the same great
                                experiences that they had.</p>
                            <h3 id='contacts'>Our Offices</h3>
                            <h5> Avenida liberdade, 345 Lisbon 1010-001, Portugal</h5>
                            <p>+3511458579</p>
                            <hr/>
                            <h5>Kärntner Ring 1 304-306 Vienna 1010, Austria</h5>
                            <p>+3125875585</p>

                        </div>
                    </div>
                    <div class="row text-center">
                        <!-- set the numbers in assets/js/scripts.js  -->
                        <div class="col-md-4 boxes col-xs-6 col-xs-offset-3 col-lg-4 col-lg-offset-1 col-md-offset-1 col-sm-6 wow fadeInUp">
                            <h5>ALL Clients</h5>
                            <h3 class="odometer 01">00000</h3>
                        </div>
                        <div class="col-md-4 boxes col-xs-6 col-xs-offset-3 col-lg-4 col-lg-offset-2 col-md-offset-2 col-sm-6 wow fadeInUp"
                             data-wow-delay="300ms">
                            <h5>ALL Tours</h5>
                            <h3 class="odometer 02">00000</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

    <section id="contact" class="prefooter wow fadeInUp" data-wow-delay="300ms">
        <!-- change the image in style.css to the class .prefooter .container-fluid [approximately row 154] -->
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h3>Maecenas sed diam eget risus varius<br> blandit sit amet non magna.</h3>
                        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis
                            consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl
                            consectetur et. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Your Email Here...">
                                <br>
                                <button type="button" class="btn btn-danger">Submit Newsletter</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}