{% extends "tour_app/base.html" %}
{% load static %}
{% block title %}
    Help
{% endblock %}

{% block description %}
    <h1>Touring FAQs</h1>
    <p>Find out everything about TourRadar and why you should book with us!</p>
    <ul>
        <li><a href="#EuropeTours">What is Europe Tours?</a></li>
        <li><a href="#WhyBook">Why Book with Europe Tours?</a>
        <li><a href="#HowDoes">How Does Europe Tours Work?</a></li>
    </ul>
    <hr/>
    <h1>Finding Your Dream Tour</h1>
    <p>Tours come in all shapes and sizes. Learn how to find your next dream adventure!</p>
    <li><a href="#search">How to Use the Search</a></li>
    <li><a href="#coasts">How do I Find Out How Much Each Tour Costs?</a></li>

    <hr/>
    <h2 id="EuropeTours">What is Europe Tours?</h2>
    <p>Europe Tours is here to make booking tours incredibly easy! TourRadar is a number of things, including a trusted
        platform for booking multi-day tours with a huge variety of over 2500 tour operators worldwide. We verify all
        operators, keep your payments secure, and give travellers access to thousands of impartial and trusted reviews.
        We also provide premium customer service and offer the best possible prices. Our aim is to bridge the gap for
        travellers to experience the world on a fun-filled tour, and our vision is to connect as many people as we can
        to life-enriching experiences.</p>
    <hr/>
    <h2 id="WhyBook">Why Book with Europe Tours?</h2>
    <p>As the largest online marketplace for booking multi-day tours, there are many reasons to book a tour with
        TourRadar, including:</p>
    <ul>
        <li>Over 40,000 tours to choose from with over 2,500 operators</li>
        <li>No booking or credit card fees</li>
        <li>Best Price Guarantee</li>
        <li>Earn Unlimited Travel Credits</li>
    </ul>

    <hr/>

    <h2 id='HowDoes'>How Does Europe Tours Work?</h2>
    <p>Europe Tours showcases thousands of tours running all around the world by over 2500 operators. TourRadar is a
        one-stop-shop to search and compare tours to help you find your dream tour with the perfect operator for you
        using our amazing search functions and tour detail pages.
        Once you’ve chosen your dream tour, you can book your preferred departure date directly from the website!
        Depending on which operator you’ve booked with, you’ll either receive your confirmation from one of our helpful
        Customer Service Travel Experts or from the operator directly. You can then continue to communicate with us or
        the operator by sending any messages from your Booking Conversation Page. You can also request additional nights
        of accommodation and airport transfers, add in your personal details, and make any modifications to your booking
        from your Booking Conversation Page!</p>

    <hr/>
    <h2 id="search">How to Use the Search</h2>
    <p>Searching for tours on TourRadar is easy! Simply use the search bar on the homepage to type in a region, country,
        city, or tour operator and select the month you’re looking to travel if you have one in mind, or leave this
        blank if you don’t. You can then use the filters on the search results page to narrow down the results to find
        the tour that’s just right for you!
        If you already have a specific tour in mind, you can simply type the tour name into the search bar to bring up
        that tour!</p>
    <hr/>
    <h2 id="coasts">How do I Find Out How Much Each Tour Costs?</h2>
    <p>You’ll see the advertised price on the tour overview and as the main price on each tour details page.
        This price is the 'FROM' price, meaning that the most affordable departure date is this listed price. Each
        departure date can be different, as pricing can vary depending on seasonality, availability, applicable sales,
        etc. so you’ll then need to check each departure date from the tour details page to see an accurate price for
        the date you’re hoping to book. To do so, click 'Check Availability' to bring up each departure date and its
        price</p>



{% endblock %}