{% extends "tour_app/base.html" %}
{% load static %}
{% block title %}
    Home
{% endblock %}

{% block description %}
    {% if messages %}
        {% for message in messages %}
            <div><h4>{{ message }}</h4></div>
        {% endfor %}
    {% endif %}

    <!-- Site Overlay -->
    <div class="site-overlay"></div>
    <section id="feat">
        <div class="container">
            <div class="row features">
                <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="100ms">
                    <span class="typcn typcn-pencil x3"></span>
                    <h4>Consectetur Risus</h4>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida
                        at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
                <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="300ms">
                    <span class="typcn typcn-camera-outline x3"></span>
                    <h4>Ultricies Aenean</h4>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante
                        venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla.</p>
                </div>
                <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="500ms">
                    <span class="typcn typcn-bookmark x3"></span>
                    <h4>Cras Sollicitudin</h4>
                    <p>Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque ornare sem
                        lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- POSTS -->
    <section id="tours" class="blog wow fadeInUp" data-wow-delay="300ms">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-10">
                    <div class="col-md-20">
                        {% for post in posts %}
                            <div>
                                <h3>{{ post.NameTour }}</h3>
                                <h4>{{ post.TypeTour }}</h4>
                                <h5>{{ post.Price }} euro</h5>
                                <img src="{{ post.Photo }}" alt="" class="img-responsive">
                                <a class="btn btn-danger btn-lg"
                                   href="{% url 'tour_app-detail' post.id %}">Take
                                    a Look <i class="fa fa-arrow-circle-o-right"></i>
                                </a>
                                <div> {% if post.Author.profile %}
                                    <p>Author: {{ post.Author.username }}</p>
                                {% endif %}</div>
                                <hr/>
                            </div>
                        {% endfor %}
                        {% if is_paginated %}

                            {% if page_obj.has_previous %}
                                <a href="?page=1">First</a>
                                <a href="?page={{ page_obj.previous_page_number }}">Prev</a>
                            {% endif %}

                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                    <a style="color: black" href="?page={{ num }}">{{ num }}</a>
                                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                    <a href="?page={{ num }}">{{ num }}</a>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                            {% endif %}

                        {% endif %}


                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="history" class="story wow fadeInUp" data-wow-delay="300ms">
        <!-- change the image in style.css to the class .story .container-fluid [approximately row 141] -->
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 opaline">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <p class="lead"><i>Donec sed odio dui. Integer posuere erat a ante venenatis dapibus
                                    posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl
                                    consectetur et.</i></p>
                                <p><i>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                                    Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio
                                    sem nec elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
                                    vestibulum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent
                                    commodo cursus magna, vel scelerisque nisl consectetur et.</i></p>
                                <h6 class="lead"> – Fermentum Dapibus</h6>
                                <p><small>Nibh Etiam Risus Bibendum<br>
                                    Nullam id dolor id nibh ultricies vehicula ut id elit.</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="photos" class="gallery wow fadeInUp" data-wow-delay="300ms">
        <div class="container">
            <div class="row">
                <div class="masonry image-gallery">
                    <div class="grid-sizer"></div>
                    <div class="gutter-sizer"></div>
                    <div class="item item-width2">
                        <a href="https://unsplash.it/1000/600?image=529">
                            <img src="https://unsplash.it/600/300?image=529" alt=""/>
                        </a>
                    </div>
                    <div class="item">
                        <a href="https://unsplash.it/1000/600?image=523">
                            <img src="https://unsplash.it/320/776?image=523" alt=""/>
                        </a>
                    </div>
                    <div class="item">
                        <a href="https://unsplash.it/600/1000?image=503">
                            <img src="https://unsplash.it/500/800?image=503" alt=""/>
                        </a>
                    </div>
                    <div class="item">
                        <a href="https://unsplash.it/1000/600?image=505">
                            <img src="https://unsplash.it/400/400?image=505" alt=""/>
                        </a>
                    </div>
                    <div class="item">
                        <a href="https://unsplash.it/800/800?image=454">
                            <img src="https://unsplash.it/4403/2476?image=454" alt=""/>
                        </a>
                    </div>
                    <div class="item">
                        <a href="https://unsplash.it/800/800?image=515">
                            <img src="https://unsplash.it/585/439?image=515" alt=""/>
                        </a>
                    </div>
                    <div class="item item-width2">
                        <a href="https://unsplash.it/1000/600?image=451">
                            <img src="https://unsplash.it/600/140?image=451" alt=""/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="clients wow fadeInUp" data-wow-delay="300ms">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <img src="../../static/tour_app/images/logo-sample-01.jpg" class="img-responsive"/>
                </div>
                <div class="col-md-2">
                    <img src="../../static/tour_app/images/logo-sample-02.jpg" class="img-responsive"/>
                </div>
                <div class="col-md-2">
                    <img src="../../static/tour_app/images/logo-sample-03.png" class="img-responsive"/>
                </div>
                <div class="col-md-2">
                    <img src="../../static/tour_app/images/logo-sample-04.jpg" class="img-responsive"/>
                </div>
                <div class="col-md-2">
                    <img src="../../static/tour_app/images/logo-sample-05.jpg" class="img-responsive"/>
                </div>
                <div class="col-md-2">
                    <img src="../../static/tour_app/images/logo-sample-06.png" class="img-responsive"/>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

