{% extends "tour_app/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    Tour form
{% endblock %}

{% block description %}
    <div class="row">
        <div class="col-md-offset-2 col-md-10">
            <div class="col-md-20">
                <div>
                    <form method="POST">
                        {% csrf_token %}
                        <h3>Create new tour</h3>
                        {{ form|crispy }}
                        <div>
                            <button class="btn btn-danger btn-lg" type="submit">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

